#m1, #m2, #m3, #p, #r, #t {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border: 1px;
    -fx-border-color: #000000;
}
#m1 {
    -fx-background-image: url("../../resources/images/m1.jpg");
    -fx-background-color: #359e03;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-position: center center;
}
#m1:hover {
    -fx-background-image: url("../../resources/images/m1_hover.jpg");
    -fx-background-color: #C65BF9;
}
#m2 {
    -fx-background-image: url("../../resources/images/m2.jpg");
    -fx-background-color: #359e03;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-position: center center;
}
#m2:hover {
    -fx-background-image: url("../../resources/images/m2_hover.jpg");
    -fx-background-color: #C65BF9;
}
#m3 {
    -fx-background-image: url("../../resources/images/m3.jpg");
    -fx-background-color: #359e03;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-position: center center;
}
#m3:hover {
    -fx-background-image: url("../../resources/images/m3_hover.jpg");
    -fx-background-color: #C65BF9;
}
#p {
    -fx-background-image: url("../../resources/images/p.jpg");
    -fx-background-color: #359e03;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-position: center center;
}
#p:hover {
    -fx-background-image: url("../../resources/images/p_hover.jpg");
    -fx-background-color: #C65BF9;
}
#r {
    -fx-background-image: url("../../resources/images/r.jpg");
    -fx-background-color: #359e03;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-position: center center;
}
#r:hover {
     -fx-background-image: url("../../resources/images/r_hover.jpg");
    -fx-background-color: #C65BF9;
}
#t {
    -fx-background-image: url("../../resources/images/t.jpg");
    -fx-background-color: #359e03;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-position: center center;
}
#t:hover {
    -fx-background-image: url("../../resources/images/t_hover.jpg");
    -fx-background-color: #C65BF9;
}

#configBackground {
    -fx-background-color: #FFFFFF;
}

#title {
    -fx-background-image: url('../images/mule_logo_new.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 80%;
}
#game_config {
    -fx-background-image: url('../images/game_config.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 80%;
}

#newGame, #loadGame, #startGame {
    -fx-border-radius: 0;
    -fx-border-color: #333333;
    -fx-border-width: 3;
    -fx-padding: 20 40;
    -fx-background-color: #FFFFFF;
    -fx-font-size: 18;
    -fx-font-weight: 600;
}
#newGame:hover, #loadGame:hover, #startGame:hover, #selectPlayers:hover, #selectDifficulty:hover, #selectMap:hover, #addPlayerButton:hover {
    -fx-background-color: #CCCCCC;
}
#selectPlayers, #selectDifficulty, #selectMap, #addPlayerButton {
    -fx-border-radius: 0;
    -fx-border-color: #333333;
    -fx-border-width: 3;
    -fx-padding: 5 10;
    -fx-background-color: #FFFFFF;
    -fx-font-size: 16;
    -fx-font-weight: 600;
}
#background {
    -fx-background-color: #FFFFFF;
}

#addPlayerTitle {
}
